
Site/.Rproj.user/66D26F9C/pcs/workbench-pane.pper
Site/.Rproj.user/66D26F9C/pcs/windowlayoutstate.pper
Site/.Rproj.user/66D26F9C/pcs/source-pane.pper
Site/.Rproj.user/66D26F9C/sources/prop/BBACFF24
Site/.Rproj.user/66D26F9C/sources/prop/INDEX
Site/.Rhistory
Site/.Rproj.user/66D26F9C/pcs/workbench-pane.pper
Site/.Rproj.user/66D26F9C/sources/prop/BBACFF24
